<!DOCTYPE html>
<html lang="es-mx">
    <!-- http://www.digitalsculpture.org/florence/main/main_collection -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
    <link rel="stylesheet" href="../static/css/360.css">
    <link rel="stylesheet" href="../static/icons/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">

<body>
    <header>
        <div class="menus">
            <div class="menu-left">
                <div class="menu-left-item">
                    <span class="icon-logo"></span>
                </div>
                <div class="menu-left-item">Sobre Nosotros</div>
            </div>
            <div class="menu-rigth">
                <div class="menu-rigth-item"><a href="../index.html">Inicio</a></div>
                <div class="menu-rigth-item"><a href="">Contacto</a></div>
                <div class="menu-rigth-item"><a href="">Colecciones</a></div>
                <div class="menu-rigth-item"><a href="">Tickets</a></div>
                <div class="menu-rigth-item"><span class="icon-search"></span></div>
            </div>
        </div>

    </header>
    <main>
        <img class="main-fondo" src="../static/img/360.png" alt="">
        <div class="blackVeil"></div>
        <div class="title">360 ZONE</div>
        <div class="modal" id="1">
            <div class="modelo">
                <p></p>
                <a href="#10">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Female Portrait- OdA1911 n 648" frameborder="0"
                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr"
                        xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                        src="https://sketchfab.com/models/93e11d4bc5fc40d88962fa717c6792fc/embed?ui_infos=0"> </iframe> 
                    </div>
                    <a href="#2">></a>
                </div>
        </div>
        <div class="modal" id="2">
            <div class="modelo">
                <p></p>
                <a href="#1">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Macrinus" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/dd49c38dac5c40e4be1081b9ddf6be6f/embed?ui_infos=0"> </iframe> </div>
                <a href="#3">></a>
            </div>
        </div>
        <div class="modal" id="3">
            <div class="modelo">
                <p></p>
                <a href="#2">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Molossian Hound Inv. 1914 n. 67" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/6a6bc196c2cf447b8fd8eaec1d0c7fa1/embed?ui_infos=0"> </iframe> </div>
                <a href="#4">></a>
            </div>
        </div>
        <div class="modal" id="4">
            <div class="modelo">
                <p></p>
                <a href="#3">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Wild Boar Inv. 1914 n. 63" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/656c433eb4434417beff1456bceb6e49/embed?ui_infos=0"> </iframe> </div>
                <a href="#5">></a>
            </div>
        </div>
        <div class="modal" id="5">
            <div class="modelo">
                <p></p>
                <a href="#4">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Sleeping Ariadne" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/3a89b9c378bd4824b5cdf75429c86914/embed?ui_infos=0"> </iframe> </div>
                <a href="#6">></a>
            </div>
        </div>
        <div class="modal" id="6">
            <div class="modelo">
                <p></p>
                <a href="#5">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Dancing Satyr Inv. 1914 n. 220" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/f44cffa980bf40df89e91458261e16b5/embed?ui_infos=0"> </iframe> </div>
                <a href="#7">></a>
            </div>
        </div>
        <div class="modal" id="7">
            <div class="modelo">
                <p></p>
                <a href="#6">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Menelaus and Patroclus Inv. 1914 n. 601" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/466021cc8aaa4cabb79d22cf78884446/embed?ui_infos=0"> </iframe> </div>
                <a href="#8">></a>
            </div>
        </div>
        <div class="modal" id="8">
            <div class="modelo">
                <p></p>
                <a href="#7">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Apollino Inv. 1914 n. 229" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/374745e741314f7aaf0feea80a39cd52/embed?ui_infos=0"> </iframe> </div>
                <a href="#9">></a>
            </div>
        </div>
        <div class="modal" id="9">
            <div class="modelo">
                <p></p>
                <a href="#8">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="Medici Venus Inv. 1914 n. 224" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/31df125d63b747af841d8fca4eb7b8f8/embed?ui_infos=0"> </iframe> </div>
                <a href="#10">></a>
            </div>
        </div>
        <div class="modal" id="10">
            <div class="modelo">
                <p></p>
                <a href="#9">&#60;</a>
                <div class="sketchfab-embed-wrapper"> <iframe title="The Wrestlers Inv. 1914 n. 216" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/2b05d3f4249843c99acb359a8e0190e7/embed?ui_infos=0"> </iframe> </div>
                <a href="#1">></a>
            </div>
        </div>

    </main>

</body>

</html>