<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
    <link rel="stylesheet" href="../static/css/galery-section.css">
    <link rel="stylesheet" href="../static/icons/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
<body>
    <header>
        <div class="menus">
            <div class="menu-left">
                <div class="menu-left-item">
                    <span class="icon-logo"></span>
                </div>
                <div class="menu-left-item">Sobre Nosotros</div>
            </div>
            <div class="menu-rigth">
                <div class="menu-rigth-item"><a href="../index.html">Inicio</a></div>
                <div class="menu-rigth-item"><a href="">Contacto</a></div>
                <div class="menu-rigth-item"><a href="../templates/360.html">360 Zone</a></div>
                <div class="menu-rigth-item"><a href="">Tickets</a></div>
                <div class="menu-rigth-item"><span class="icon-search"></span></div>
            </div>
        </div>
        
    </header>
    <main>
        <section>Arquitectura</section>
        <article>
            <div>
                <p class="article-type">Exhibición</p>
                <p class="article-title">Ancient <br>Roman architecture</p>
            </div>
            <div class="mas-icon">+</div>
            <img src="../static/img/arquitectura_img1.png" alt="">
            <div class="blackVeil"></div>
        </article>
        <article>
            <div>
                <p class="article-type">Exhibición</p>
                <p class="article-title">
                    Palacio<br>
                    y jardines <br>
                    del Luxemburgo <br>
                    
                </p>
            </div>
            <div class="mas-icon">+</div>
            <img src="../static/img/arquitectura_img2.png" alt="">
            <div class="blackVeil"></div>
        </article>
        <article>
            <div>
                <p class="article-type">Exhibición</p>
                <p class="article-title">
                    Japanese shrine<br>
                    temples <br>
                    
                </p>
            </div>
            <div class="mas-icon">+</div>
            <img src="../static/img/arquitectura_img3.png" alt="">
            <div class="blackVeil"></div>
        </article>
    </main>
    
</body>

</html>